.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon {
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.cart {
    cursor: pointer;
    font-size: 24px;
}

.profile svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.dark-background {
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    display: none;
    z-index: 999;
}

.menu-options {
    position: absolute;
    left: -270px;
    top: 0;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: calc(100vh - 20px);
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0 0 20px;
    z-index: 9999;
}

.menu-options li {
    margin: 25px 0;
    cursor: pointer;
}

.icon-close {
    margin: 0 0 25px 0;
}

.list-item:hover {
    color: hsl(26, 100%, 55%);
}

.active-background {
    display: block;
}

.menu-active {
    left: 0;
}

.shopp {
    padding: 15px 0;

}

.shopp img {
    width: 100%
}

.product-brand {
    text-transform: uppercase;
    color: hsl(26, 100%, 55%);
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;
    letter-spacing: 2px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: hsl(0, 0%, 0%);
    padding: 10px 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 0 20px;
    color: hsl(219, 9%, 45%);
}

.price {
    display: flex;
    justify-content: space-between;
}

.price-value {
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 20px;
    display: flex;
}

.price-discount {
    padding: 30px 20px;
    font-weight: 700;
    text-decoration: line-through;
}

span {
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    padding: 0 5px;
    margin: 0 15px;
    background-color: hsl(25, 100%, 94%);
    font-size: 14px;
}

.buttons {
    background-color: hsl(223, 64%, 98%);
    border-radius: 5px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.buttons button {
    border: none;
    background-color: hsl(223, 64%, 98%);
    cursor: pointer;
}

.buttons button svg {
    color: hsl(26, 100%, 55%);
    font-size: 18px;

}

.button-description {
    color: hsl(0, 0%, 0%);
    font-weight: 700;
}

.button-cart {
    background-color: hsl(26, 100%, 55%);
    margin: 10px 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.button-cart button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-description {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 18px;

}

.button-cart button svg {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.cart-open {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    position: absolute;
    bottom: -275px;
    z-index: 100;
    width: calc(100% - 20px);
    left: 0;
    margin: 0 10px;
    height: 247px;
}

.name-cart {
    border-bottom: 1px solid hsl(220, 14%, 90%);
    color: hsl(0, 0%, 0%);
    padding: 25px;
    font-weight: 700;
}

.description-cart {
    font-weight: 700;
    text-align: center;
    padding: 85px 0;
    color: hsl(219, 9%, 50%);
}

.container-product {
    display: flex;
    align-items: center;
}

.image-product {
    padding: 10px 0 0 20px;
}

.image-product img {
    width: 45px;
    border-radius: 5px;
}

.name-product {
    color: hsl(219, 9%, 45%);
}



.container-product svg {
    color: hsl(220, 14%, 75%);
}